:root {
   --vt-c-orange: darkorange;
   --vt-c-white-soft: #ffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family:
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.container{
  min-width: 230px;
  min-height: 400px;
}

h2{
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px; 
}

.form-group label {
  display: block; 
  margin-bottom: 2px;
}

.form-group .input-group {
  box-sizing: border-box; 
  padding: 5px; 
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
}

.form-group input{
  width: 100%;
}

.button-group {
  display: flex;
  gap: 10px; 
}

.btn-outline {
  background-color: transparent;
  border: none;
  color: var(--vt-c-orange);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
}

.btn {
  background-color: var(--vt-c-orange);
  border: none;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;

}

span {
  color: var(--vt-c-orange);
}

.radio-group{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.btn-outline {
  /* margin-top: 15px; */
  border: none;
  background-color:  var(--vt-c-white-soft);
  color: var(--vt-c-orange);
  border: 1px solid var(--vt-c-orange);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.label-text{
  font-size: 13px;
}

